body{
    background: black;
}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
div{
    color: white;
    text-align: right;
}
.webcam-container{
    position: absolute;
    float:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}